// Specific CSS for your home-page
.home-banner {
  background-image: asset-url('home.jpeg');
  background-size: cover;
  height: 375px;
  width: 100%;
  h1 {
    color: black;
    font-size: 24px;
    font-weight: bold;
    line-height: 24pt;
    text-align: center;
    padding: 24px;
  }
}

.logo-home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

.home-slogan{
  text-align: center;
}


.home-photo{
  width: 100%;
  height: auto;
}
