// Specific CSS for your home-page
.logo-home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

.home-slogan{
  text-align: center;
}


.home-photo{
  width: 100%;
  height: auto;

}

.card-avatar {
 position: absolute;
 bottom: -4px;
 right: 8px;

}

.card-top {

}

.home-page h5 {
  text-align: center;
  padding-top: 8px;
}

.card-bottom {
 align-items: center;
}
