<div class=container style="margin-top: 16px">

<h1><%= "Hello #{@user.first_name}" %></h1>
<%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill if @user.photo.attached? %>
<br>
<%= link_to "Edit Page", edit_user_registration_path, class: "btn btn-primary" %>

</div>