<div class="navbar footer fixed-bottom navbar-expand-sm navbar-light navbar-lewagon" style="display: flex; justify-content: space-evenly">
  <div style="text-align: center" id="navbarSupportedContent">
    <%= link_to artists_path do %>
    <i class="fas fa-paint-brush"></i>
    <% end %>
  </div>
  <div style="text-align: center" id="navbarSupportedContent">
    <i class="far fa-heart"></i>
  </div>
  <div style="text-align: center" id="navbarSupportedContent">
      <i class="far fa-comments"></i>
  </div>
  <div style="text-align: center">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to user_path(current_user.id) do %>
            <%= cl_image_tag current_user.photo.key, style: 'height: 2rem; width: auto', gravity: :face, crop: :fill, radius: :max %>
        </li>
        <% end %>
      <% else %>
        <li class="nav-item">
        <%= link_to new_user_session_path do %>
          <i style='font-size: 2rem' class="far fa-user-circle"></i>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

