<div class="navbar sticky-top navbar-expand-sm navbar-light navbar-lewagon">
  <div style="width: 100px; text-align: left">
  <%= link_to root_path do %>
    <%= image_tag "logo.png", style: 'height: 4rem; width: auto', alt: "logo" %>
  <% end %>
  </div>
  <div style="width: 100px; text-align: right" id="navbarSupportedContent">
    <div style="text-align: right; padding-right: 1rem">
      <i class="fas fa-search"></i>
    </div>
  </div>
</div>

