<div style="width: 100%; display: none" id='searchbar'>
  <div class="search-active-bg">
  </div>
  <div class="search-active-overlay">
<!-- <div class="inputWithIcon">
        <input type="text" placeholder="Search">
        <i class="fas fa-search" aria-hidden="true"></i>
    </div> -->
    <div style="display: flex; justify-content: space-between; margin-bottom: 8px">
    <button class="btn btn-details" id="byLocation" style="width:48%">By Location</button>
    <button class="btn btn-details" id="byName" style="width:48%">By Name</button>
    </div>
    <div style="display: none" id="locationFilter">
    <%= form_tag artists_path, method: :get, class: "in-line" do %>
    <%= text_field_tag :query,
    params[:query],
    class: "location-form",
    placeholder: "Search location"
    %>
    <% end %>
    </div>
    <div style="display: none" id="nameFilter">
    <%= form_tag artists_path, method: :get, class: "in-line" do %>
    <%= text_field_tag :query_artist,
    params[:query_artist],
    class: "artist-form",
    placeholder: "Search name"
    %>
    <% end %>
    </div>
  <!-- <div style="width: 90%; margin-top: 0px">
        <ul class="list-group list-group-horizontal">
          <button type="button" class="btn search-button" style="flex-grow: 1; margin: 8px">Artist</button>
          <button type="button" class="btn search-button" style="flex-grow: 1; margin: 8px">Location</button>
        </ul>
      </div> -->
  </div>
</div>
