<div style="width: 100%; display: none" id='searchbar'>
  <div style="height: 100vh; width: 100vw; z-index: 1; opacity: 70%; background-color: rgba(0,0,0,1); position: fixed">

  </div>
  <div style="position: fixed; top: 0; z-index: 200; width: 100%; background-color: white; text-align: -webkit-center">
    <div class="inputWithIcon">
        <input type="text" placeholder="Search">
        <i class="fas fa-search" aria-hidden="true"></i>
    </div>
    <div style="width: 90%; margin-top: 0px">
      <ul class="list-group list-group-horizontal">
        <button type="button" class="btn search-button" style="flex-grow: 1; margin: 8px">Artist</button>
        <button type="button" class="btn search-button" style="flex-grow: 1; margin: 8px">Location</button>
      </ul>
    </div>
  </div>  
</div>
