<div class="d-flex align-items-center justify-content-between p-3 bg-white navbar-main">

  <%= link_to saved_chats_path do %>
  <i class="fas fa-star"></i>
  <% end %>

  <div data-controller="notification">
  <%= link_to chats_path do %>
  <i class="far fa-comments"></i>
  <% end %>
  <p data-target="notification.notify" class="badge badge-warning" style="padding: 3px; position: absolute; visibility: hidden;"><%= 0 %></p>
 </div>

  <%= link_to archived_chats_path do %>
  <i class="fas fa-archive"></i>
  <% end %>

</div>
