<div class="d-flex align-items-center justify-content-between p-3 bg-white navbar-main">

  <%= link_to saved_chats_path do %>
  <i class="fas fa-star"></i>
  <% end %>

  <%= link_to chats_path do %>
  <i class="fas fa-comment"></i>
  <% end %>

  <%= link_to archived_chats_path do %>
  <i class="fas fa-archive"></i>
  <% end %>

</div>
