#booking_qty {
    width: auto;
    border-radius: 0px;
    margin-left: 16px;
    align-self: center;
}

.quantity {
    width: 50%;
    align-self: center;
    padding: 10px;
}

.quantity-input {
    border: 1px solid lightgrey;
    border-radius: 5px;
    text-align: center;
    background-color: white;
}

select option:disabled {
    color: lightgrey;
}