.btn-blended-primary {
  border-color: #a278b5;
  background-color: none;
  color: #a278b5;
}

.btn-blended-primary:hover {
  border-color: white;
  background-color: #a278b5;
  color: white;
}

.btn-clear-filter {
  border-color: #f39cd1;
  background-color: none;
  color: #f39cd1;
  border-radius: 20px;
  &:hover {
    border-color: #f6c3e5;
    color: #f6c3e5;
  }
}

.map-btn-position {
  text-align: center;
  position: sticky;
  bottom: 80px;
  z-index:100;
}

.map-btn {
  background-color: #f39cd1;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 0px;
}
