.btn-primary {
  background-color: #f6c3e5;
  color: #74345e;
}

// .btn-blended-primary {
//   border-color: #a278b5;
//   background-color: none;
//   color: #a278b5;
// }

// .btn-blended-primary:hover {
//   border-color: white;
//   background-color: #a278b5;
//   color: white;
// }

.btn-clear-filter {
  border-color: #f39cd1;
  background-color: none;
  color: #f39cd1;
  border-radius: 5px;
  &:hover {
    border-color: #f6c3e5;
    color: #f6c3e5;
  }
}

.book-btn {
  background-color: #f6c3e5;
  color: #74345e;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 20px;
  box-shadow: 0 0px 4px rgba(0,0,0,0.2);
}

.book-cancel {
  background-color: white;
  color: #74345e;
  border: 1px solid #f6c3e5;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  box-shadow: 0 0px 4px rgba(0,0,0,0.2);
}

.btn-details {
  border-color: #f39cd1;
  background-color: none;
  color: #f39cd1;
  border-radius: 5px;
  &:hover {
    border-color: #f6c3e5;
    color: #f6c3e5;
  }
}

.map-btn-position {
  text-align: center;
  position: sticky;
  bottom: 80px;
  z-index:100;
}

.map-btn {
  background-color: #f39cd1;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  box-shadow: 0 0px 10px rgba(0,0,0,0.3);
  border: 0px;
}
