.btn-blended-primary {
    border-color: #a278b5;
    background-color: none;
    color: #a278b5;
}

.btn-blended-primary:hover {
    border-color: white;
    background-color: #a278b5;
    color: white;
}

