.card {
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  width: 310px;
  a {
    color: black;
    text-decoration: none;
  }
  h6 {
    color: black;
  }
  p {
    color: black;
  }
}

.card-avatar {
  position: absolute;
  bottom: 70px;
  right: 10px;
}

.home-page h5 {
  text-align: center;
  padding-top: 8px;
}

.cards {
  width: 100%;
  overflow-x: scroll;
  margin-bottom: 30px;
}

.card-rating{
  padding-top: 24px;
  width: 50%;
  text-align: right;
}

.card-img {
  object-fit: cover;
}

.booking-card {
  width: 95%;
  padding: 15px;
  margin: 20px auto;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}
