.home-card {
  position: relative;
  box-shadow: 1px 0px 8px lightgrey;
  width: 320px;
  a {
    color: black;
  }
}

.card-bottom {
  a {
    color: black;
  }

  h6 {
    color: black;
  }

  p {
    color: black;
  }
}

.card-avatar {
  position: absolute;
  bottom: 70px;
  right: 10px;
}


.home-page h5 {
  text-align: center;
  padding-top: 8px;
}

.card-bottom {
 align-items: center;
}

.cards {
  width: 375px;
  overflow-x: scroll;
}

.card-rating{
  padding-top: 24px;
  width: 50%;
}

.card-address{
  width: 50%;
}
