.chat-box {
 background: white;
 border-radius: 20px;
 align-items: center;
}

.chat-content {
  width: 78%;
}

.message-time {
  width: 30%;
}

.message-container {
  p {
    word-break: break-word;
  }
}

.chats {
  p {
    color: black;
    word-break: break-word;
  }

  h6 {
    color: black;
  }
}

.empty-chat-index{
  margin-top: 100px;
  text-align: center;


i{
font-size: 96px;
color: pink;
}

h6{
  font-size: 16px;
  margin-top: 16px;
}
}

#file-upload-button {
  background: $pink;
}


.new_message {
  display: flex;
  align-items: self-end;
  justify-content: center;
  width: 100%;
}

.message_content {
  width: 80%;
}


.send-radius {
  border-radius: 0px 20px 20px 0px;
  padding-left: 6px;
}

#message_content {
  border-radius: 20px 0px 0px 20px;
}
