.chat-box {
 background: white;
 border-radius: 20px;
 align-items: center;
}

.chat-content {
  width: 78%;
}

.message-time {
  width: 30%;
}

.chats {
  p {
    color: black;
  }

  h6 {
    color: black;
  }
}

.empty-chat-index{
  margin-top: 100px;
  text-align: center;


i{
font-size: 96px;
color: pink;
}

h6{
  font-size: 16px;
  margin-top: 16px;
}
}
